<%= form_for(@inspection_template) do |f| %>
  <% if @inspection_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inspection_template.errors.count, "error") %> prohibited this inspection_template from being saved:</h2>

      <ul>
      <% @inspection_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  </div>
<% end %>
