<p id="notice"><%= notice %></p>

<h1>Listing Units</h1>

<table>
  <thead>
    <tr>
      <th>Building</th>
      <th>Unit number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.building %></td>
        <td><%= unit.unit_number %></td>
        <td><%= link_to 'Show', [unit.building, unit] %></td>
        <td><%= link_to 'Edit', edit_building_unit_path(unit.building, unit) %></td>
        <td><%= link_to 'Destroy', building_unit_path(@building, unit), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_building_unit_path(@building) %>
