<p id="notice"><%= notice %></p>

<p>
  <strong>Building:</strong>
  <%= @unit.building %>
</p>

<p>
  <strong>Unit number:</strong>
  <%= @unit.unit_number %>
</p>

<%= link_to 'Edit', edit_building_unit_path(@building, @unit) %> |
<%= link_to 'Back', building_units_path(@building) %>
