<div class="nav-side-menu">
    <div class="brand"><%= link_to 'Brand Logo', root_url %></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
          <ul id="menu-content" class="menu-content collapse out">
            <li data-toggle="collapse" data-target="#inspection" class="collapsed">
              <a href="#"><i class="fa fa-wpforms fa-lg"></i> Inspections<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="inspection">
              <li><%= link_to "Create New Inspection", '#' + inspections_path %></li>
              <li><%= link_to "View More Inspections", '#' + inspections_path %></li>
            </ul>
            <li data-toggle="collapse" data-target="#inspection-template" class="collapsed">
              <a href="#"><i class="fa fa-newspaper-o fa-lg"></i> Inspection Template <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="inspection-template">
              <li><%= link_to "Create a new Inspection Template", '#' + inspection_templates_path %></li>
              <li><%= link_to "View your Inspection Templates", '#' + inspection_templates_path %></li>
            </ul>
            <li data-toggle="collapse" data-target="#building" class="collapsed">
              <a href="#"><i class="fa fa-building-o fa-lg"></i> Buildings <span class="arrow"></span></a>
            </li>  
            <ul class="sub-menu collapse" id="building">
              <li><%= link_to "Create a new Building", "#" + buildings_path %></li>
              <li><%= link_to "View your Buildings", "#" + buildings_path %></li>
            </ul>
            <li>
              <a href="#">
              <i class="fa fa-users fa-lg"></i> Users
              </a>
            </li>

            <li data-toggle="collapse" data-target="#profile" class="collapsed">
              <a href="#"><i class="fa fa-user fa-lg"></i> Profile <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="profile">
              <li><%= link_to "Edit profile", edit_user_registration_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>

               
          </ul>
     </div>
</div>
